$btnColorPrimary: #00B4CF
$btnColorPrimaryHover: #01869A
$btnColorCancel: #435466
$btnColorCancelHover: #2D4054

$headerHeight: 60px
$footerHeight: 30px

$menuBgColor: #2D4054
$pageBgColor: #F3F3F3
$menuHoverBgColor: #435466
$menuWidth: 250px
$menuTextDefault: #FFFFFF
$menuItemHoverColor: #00B4CF


$resourceBtnBgColor: #EFEFEF
