@import 'partials/color.vars';
@import 'partials/size.vars';
@import 'partials/flex-layout';

.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 55px auto;
  grid-template-areas: 'server-img info info info info info info' 'server-img resource resource resource resource resource action';
  background-color: white;
  margin-bottom: $agentSectionsGap;
  padding: 10px 0px;
  @media (max-width: $deskTopMax) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 'info info info info info info' 'resource resource resource resource resource action';
  }
}

.server-img {
  grid-area: server-img;
  @include flex--center;
  @media (max-width: $deskTopMax) {
    display: none;
  }
}

.info {
  grid-area: info;
  display: grid;
  grid-template-columns: 1.3fr .7fr repeat(2, 1fr);
  place-items: center;
  font-size: 14px;
  justify-items: flex-start;

  .info-item {
    display: flex;
    align-items: center;
  }

  .icon-font--sm {
    margin: 0px 5px;
  }

  .status {
    padding: .1rem .5rem;
    color: $colorWhite;
    line-height: initial;
    margin-left: 10px;
  }

  .info-status-idle {
    background-color: $colorIdle;
  }

  .info-status-building {
    background-color: $colorBuilding;
  }
}

.add-btn {
  .icon-plus {
    padding: 3px 4px;
    font-size: 18px;
  }
}

.resource {
  grid-area: resource;
  flex-wrap: wrap;
}

.action {
  grid-area: action;
}

.btn-deny {
  height: 30px;
  background-color: #00B4CF;
  color: white;

  .icon-deny {
    font-size: 14px;
    margin-right: .5rem;
  }
}


.icon-trash {
  font-size: 16px;
}

.button-resource-item {
  background-color: $colorLight;

  .btn-label, .btn-icon {
    color: $bgAside;
  }
}
