@import '../../assets/scss/partials/color.vars';
@import '../../assets/scss/partials/size.vars';

.list {
  grid-area: list;
}
.toolbar {
  grid-area: toolbar;
  background-color: $colorWhite;
  height: 50px;
}
/*.overview-item {
  width: 270px;
}*/
.agent-container {
  grid-row-gap: $agentSectionsGap;
  display: grid;
  grid-template-rows: 120px 50px 1fr;
  grid-template-areas:
    "overview"
    "toolbar"
    "list";
  //place-content: space-around;
}
.overview {
  grid-area: overview;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
//.statistics {
//  grid-area: statistics;
//}

/*@media (max-width: 1200px) {
  .overview-item {
    flex: 0 1 230px;
  }
}*/
