@import '../../../assets/scss/partials/color.vars';
@import '../../../assets/scss/partials/size.vars';
@import '../../../assets/scss/partials/utils';

.nav-menu {
  padding: 0px;
  list-style: none;
}
.menu-item {
  height: 45px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: $colorWhite;
  &:hover, &.active {
    color: $btnColorPrimary;
  }
}
.menu-icon {
  font-size: 20px;
}
.menu-label {
  text-transform: uppercase;
  margin-left: 10px;
}

.hidden {
  display: none;
}

.wrapper {
  width: $menuWidth;
  height: 100%;
}

.abs-sidebar {
  .action {
    display: none;
  }
  @media (max-width: $tabletMax) {
    position: absolute;
    background-color: $bgAside;
    height: 100%;
    z-index: 1;
    .action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .icon-close {
        color: $btnColorPrimary;
        padding: 10px;
        margin: 10px;
        top: 0px;
        right: 0px;
        cursor: pointer;
        &:hover {
          background-color: $hoverBgAside;
        }
      }
    }
  }
}
.history-wrapper {
  overflow: hidden;
  .title {
    font-size: 24px;
    color: #CCC;
    padding-left: 1rem;
    font-weight: 100;
  }
  .history-list {
    max-height: 260px;
    margin-left: -10px;
    margin-top: 15px;
    overflow-y: auto;
    list-style: outside;
    .item {
      color: #999;
      font-size: 12px;
      margin-bottom: 10px;
      .item-text {
        @include ellipsis;
      }
      &:hover {
        color: $btnColorPrimary;
      }
    }
  }
}
