<div class="wrapper margin-h-1rem">
  <div class="icon align-self-center">
    <img src="../../assets/os-icons/windows.png">
  </div>
  <div class="info">
    <div class="info-name">{{agent.name}}</div>
    <div class="info-status">{{agent.status}}</div>
    <div class="info-ip">{{agent.ip}}</div>
    <div class="info-path">{{agent.path}}</div>
  </div>
  <div class="resource" >
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <button class="add-btn" (click)="addResourceDialog()">
        <i class="icon-plus"></i>
      </button>
      <button *ngFor="let resource of agent.resources" mat-button class="button-resource-item" (click)="deleteResource(resource)">
        {{resource}}
        <i class="icon-trash"></i>
      </button>
    </div>
  </div>
  <div class="action">
    <button mat-button class="button-deny">
      <i class="icon-deny"></i>
      Deny
    </button>
  </div>
</div>
