<div class="wrapper">
  <div class="server-img">
    <img [src]="osImages[agent.os]">
  </div>
  <div class="info">
    <div class="info-name">{{agent.name}}</div>
    <div class="status info-status-{{agent.status}}">{{agent.status}}</div>
    <div class="info-ip">{{agent.ip}}</div>
    <div class="info-path">{{agent.path}}</div>
  </div>
  <div class="resource" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <button class="add-btn" (click)="addResourceDialog()">
      <i class="icon-plus"></i>
    </button>
    <button *ngFor="let resource of agent.resources" class="button-resource-item" (click)="deleteResource(resource)">
      <span class="btn-label">{{resource}}</span>
      <i class="btn-icon icon-trash"></i>
    </button>
  </div>
  <div class="action">
    <button class="btn-deny">
      <i class="icon-deny"></i>
      Deny
    </button>
  </div>
</div>
