@import '../../styles/variables';

.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 55px auto;
  grid-template-areas: 'server-img info info info info info info'
                        'server-img resource resource resource resource resource action';
  background-color: white;
  margin-bottom: $agentSectionsGap;
  padding: 10px 0px;
}

.server-img {
  grid-area: server-img;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  grid-area: info;
  display: grid;
  grid-template-columns: 1.3fr .7fr repeat(2, 1fr);
  place-items: center;
  .status {
    padding: .1rem .5rem;
    color: $menuTextDefault;
  }
  .info-status-idle {
    background-color: $greenColor;
  }
  .info-status-building {
    background-color: $orangeColor;
  }
}

.add-btn {
  .icon-plus {
    padding: 3px 4px;
    font-size: 18px;
  }
}

.resource {
  grid-area: resource;
  flex-wrap: wrap;
}

.action {
  grid-area: action;
}

.btn-deny {
  height: 30px;
  background-color: #00B4CF;
  color: white;
  .icon-deny {
    font-size: 14px;
    margin-right: .5rem;
  }
}


.icon-trash {
  font-size: 16px;
}

.button-resource-item {
  background-color: $resourceBtnBgColor;

  .btn-label, .btn-icon {
    color: $btnColorCancelHover;
  }
}
