@import '../../styles/variables';
.masthead {
  max-width: 1200px;
  margin: 0px auto;
  .place-holder {
    flex: 1 1 auto;
  }
  .user-menu {
    margin-right: 20px;
  }
  .abs-sidebar-toggle {
    display: none;
    @media (max-width: $tabletMax) {
      display: block;
    }
  }
  .icon-navicon {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      background-color: $colorLight;
    }
  }
}
