<mat-sidenav-container class="height--100">
  <mat-sidenav #sidenav opened mode="side">
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="'/dash-board'"
      >
        DASHBOARD
      </a>
      <a
        mat-list-item
        [routerLink]="'/agent'"
      >
        AGENT
      </a>
      <a
        mat-list-item
        [routerLink]="'/my-cruise'"
      >
        My CRUISE
      </a>
      <a
        mat-list-item
        [routerLink]="'/help'"
      >
        HELP
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
