@import '../styles/variables';
.container {
  max-width: 1200px;
  min-width: 1000px;
  height: calc(100vh - 64px);
}
.sidebar {
  grid-area: sidebar;
  background-color: $menuBgColor;
  @media (max-width: $tabletMax) {
    display: none;
  }
}
.content {
  grid-area: content;
  padding: 20px;
}
.wrapper {
  max-width: 1200px;
  height: calc(100vh - 64px);
  display: grid;
  margin: 0 auto;
  grid-template-columns: $menuWidth 1fr;
  grid-template-areas: 'sidebar content';
  @media (max-width: $tabletMax) {
    grid-template-areas: 'content';
    grid-template-columns: 1fr;
  }
}


