@import '../styles/variables';
.container {
  max-width: 1200px;
  min-width: 1000px;
  height: calc(100vh - 64px);
}
.sidebar {
  grid-area: sidebar;
  background-color: $menuBgColor;
}
.content {
  grid-area: content;
  padding: 20px;
}
.wrapper {
  max-width: 1200px;
  min-width: 1000px;
  height: calc(100vh - 64px);
  display: grid;
  margin: 0 auto;
  grid-template-columns: $menuWidth 1fr;
  grid-template-areas: 'sidebar content';
}
.nav-menu {
  padding: 0px;
  list-style: none;
}
.menu-item {
  height: 45px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: $menuTextDefault;
  &:hover {
    color: $menuItemHoverColor;
  }
}
.menu-icon {
  font-size: 20px;
}
.menu-label {
  margin-left: 10px;
}
