@import 'styles/variables';

.header {
  grid-area: header;
  z-index: 1;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, .1);
}

.main {
  grid-area: main;
  background-color: $bgContent;
}

.footer {
  grid-area: footer;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 1px -5px 10px rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  @media (max-width: $tabletMax) {
    display: none;
  }
}

.container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: $headerHeight calc(#{100vh} - #{$headerHeight} - #{$footerHeight}) $footerHeight ;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  @media (max-width: $tabletMax) {
    grid-template-areas:
      "header"
      "main";
    grid-template-rows: $headerHeight 1fr;
  }
}

.abs-sidebar {
  display: none;
  position: absolute;
  height: 100%;
  @media (max-width: $tabletMax) {
    display: block;
  }
}
