$colorBuilding: #FF9A2A;
$colorIdle: #7FBC39;
$btnColorPrimary: #00B4CF;
$btnColorPrimaryHover: #01869A;
$hoverBgAside: #435466;
$bgAside: #2D4054;
$colorSilver: #a29c9c;
$bgContent: #F3F3F3;
$colorWhite: #FFFFFF;
$colorLight: #EFEFEF;
