<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.resources">
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutGap="20px">
  <button [mat-dialog-close]="data.resources" cdkFocusInitial>Add Resources</button>
  <button (click)="onNoClick()">Cancel</button>
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
