<div>
  <div class="title" fxLayout="row" fxLayoutAlign="default center">
    <div fxFlex>Separate multiple resource name with commas</div>
    <span class="icon-close icon-font--md" (click)="onNoClick()"></span>
  </div>
  <input class="input" [(ngModel)]="data.resources" placeholder="e.g. Chrome, FireFox">
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutGap="20px">
  <button [mat-dialog-close]="data.resources" cdkFocusInitial>Add Resources</button>
  <button (click)="onNoClick()" class="btn-cancel">Cancel</button>
</div>
