@import 'partials/color.vars';

.filter-tabs {
  .tab-item {
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    min-width: 80px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    text-transform: capitalize;
    border-right: 1px solid #F3F3F3;
    border-bottom: 3px solid #FFFFFF;
    &.active {
      color: $btnColorPrimary;
      border-bottom: 3px solid $btnColorPrimary;
    }
  }
}
