.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  place-items: center;
}
.header {
  font: 12px bold;
}
.val {
  font: 20px bolder;
}
